// Light mode

$back-body : rgb(36, 30, 92) !important;
$color-bg-dark: #121775 !important;

$back-div-img : url(/bg_desktop.png), linear-gradient(to bottom right, #283449, rgb(16, 11, 63), rgb(16, 11, 63)) !important;
$color-text-dark: #eeeeee!important;

$btn : rgb(217, 221, 255)!important;
$btn-back : rgb(27, 34, 114)!important;
$btn-back-hover : rgb(32, 45, 180)!important;


$btnslider-back-hover : rgb(51, 68, 255)!important;
$btnslider-back-hover-shadow :0px 3px 2px rgb(37, 37, 48)!important;
$btnslider-shadow : 0px 10px 20px rgb(6, 0, 88) !important;

